footer{
  color:#f8f9fa;
}

#footer-txt{
  padding-bottom: 15px;
}

.navbar{
  background-color: #fff;
}
.col-md-6{
  padding: 1px;
}
.col-xs-12{
  padding: 1px;
}
#qa-navbar{
  padding-left: 0px;
}
table {
  margin: 5px;
}
td,th{
  text-align: left;
  border-style: solid;
  padding: 15px 15px 15px 2px;
}

th {
  font-size:20px;
}
form{
  padding-top: 20px;
}
.td-right-align{
  text-align: right;
}
.td-left-align{
  text-align: left;
}

div.center {
  margin: auto;
  padding: 10px;
}

.vrounded {
  border-radius:8px;
  width:400px;
}

.smallwidth {
  border-radius:10px;
  width:100px;
}







